<form [formGroup]="form" >
  <!-- Monedas -->
  <div formArrayName="monedas">
    <div *ngFor="let skill of monedas.controls; let idx=index">
      <div [formGroupName]="idx">
        <div>
          {{controlPlaceHolder[idx]}}
        </div>
          <input
            type="text"
            formControlName="valor"
            placeholder="{{controlNames[idx]}}"
          />
          <input
            type="hidden"
            formControlName="codigo"
          />
      </div>
    </div>
  </div>
  <!--./ Monedas -->
  <p>
    <button type="button">Submit</button>
  </p>
</form>
<pre>
  {{ form.value | json }}
</pre>
